/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: italic;
}


/* body {
	display: flex;
	align-items: center;
	justify-content: center;

} */

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 200px;
	padding-top: 10vh;
}


p {
	word-spacing: 1em;
	display: block;
	font-family: 'brenner mono regular';
	padding-left: 50px;
	padding-top: 30vh;
}


#alarm {
	opacity: 0;
}



/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */


.p0 span {
	opacity: 0;
	font-family: 'brenner mono regular';
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
	font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
	font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
	font-weight: 400;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
	font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
	font-family: "brenner mono regular";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.50em;
	font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: 'brenner mono regular'
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
    font-weight: bold;
	font-family: 'brenner mono regular'
}

/* hier begint paragraaf 1 */

.p1 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p1.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
	
}
.p1.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
	color: black;
}
.p1.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;

}
.p1.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;

}
.p1.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
	font-family: 'brenner mono regular'
}
.p1.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
	font-family: 'brenner mono regular'
}
.p1.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.50em;
	font-family: 'brenner mono regular'
}
.p1.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
    font-size: 2em;
	font-family: 'brenner mono regular'
}
.p1.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: 'brenner mono regular'
}
.p1.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: 'brenner mono regular'
}
.p1.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
    font-weight: bold;
	font-family: 'brenner mono regular'
}

/* hier begint paragraaf 2 */

.p2 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p2.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
}
.p2.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
    font-size: 2em;
	font-weight: 800;
}
.p2.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
    font-size: 3em;
	font-weight: 600;
	color: white;
}

/* And blood-black nothingness began to spin*/

#alarm {
	opacity: 0;
	transition: 0s .2s;
	font-family: 'brenner black';
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 800;
}

.p3 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p3.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
}
.p3.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
	color: white;
}
.p3.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
    font-size: 1em;
}

.p3.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
    font-size: 1em;
	font-weight: 600;
}
.p3.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p3.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}

/* A system of cells interlinked within cells,*/

.p4 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p4.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
	
}
.p4.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
    font-size: 1em;
	font-weight: 600;
	
}
.p4.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
    font-size: 1em;
	font-weight: 600;
}
.p4.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
    font-size: 1em;
	font-weight: 600;
	color: white;
}
.p4.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p4.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p4.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.50em;
    font-size: 1em;
	color: white;
	font-family: 'brenner mono regular'
}
.p4.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p4.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: 'brenner mono regular'
}
.p4.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: 'brenner mono regular'
}
.p4.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
    font-weight: bold;
	font-family: 'brenner mono regular'
}

/* interlinked within cells, interlinked within one stem.*/

.p5 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p5.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
	
}
.p5.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
    font-size: 1em;
	
}
.p5.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
	color: white;
    font-size: 1em;
}
.p5.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
    font-size: 1em;
}
.p5.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p5.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p5.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}

/* Fuck off, skin-job!*/

.p6 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p6.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
    font-family: 'brenner mono regular'
	
}
.p6.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
    font-size: 1em;
	
}
.p6.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
    font-size: 1em;
}
.p6.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
    font-size: 1em;
}

/* And dreadfully distinct against the dark, a tall white fountain played...*/

.p7 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p7.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
	
}
.p7.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
    font-size: 1em;
	
}
.p7.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
    font-size: 1em;
}
.p7.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
    font-size: 1em;
}
.p7.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p7.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p7.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p7.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p7.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: 'brenner mono regular'
}
.p7.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: 'brenner mono regular'
}
.p7.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
    font-weight: bold;
	font-family: 'brenner mono regular'
}

/* cells */

.p8 span {
	opacity: 0;
	border: solid black;
	padding: 8px;
	border-radius: 20px;
	color: white;
	font-size: 2em;
	font-weight: 800;
	font-family: 'brenner mono regular'
}

.p8.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-size: 2em;
	font-weight: 800;
    font-family: 'brenner mono regular'
	
}

/* cells */

.p9 span {
	opacity: 0;
	color: black;
	border: solid black;
	padding: 8px;
	border-radius: 20px;
	font-size: 2em;
	font-weight: 800;
	font-family: 'brenner mono regular'
}

.p9.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-size: 2em;
	font-weight: 800;
    font-family: 'brenner mono regular'
	
}

/*Have you ever been in an institution?*/

.p10 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p10.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
	
}
.p10.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
    font-size: 1em;
	
}
.p10.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
    font-size: 1em;
}
.p10.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
    font-size: 1em;
}
.p10.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p10.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}

.p7.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}

/* cells */

.p11 span {
	opacity: 0;
	border: solid black;
	padding: 8px;
	border-radius: 20px;
	color: white;
	font-family: 'brenner mono regular'
}

.p11.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-size: 2em;
	font-weight: 800;
    font-family: 'brenner mono regular'
	
}

/* cells */

.p12 span {
	opacity: 0;
	border: solid black;
	padding: 8px;
	border-radius: 20px;
	color: white;
	font-family: 'brenner mono regular'
}

.p12.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-size: 2em;
	font-weight: 800;
    font-family: 'brenner mono regular'
	
}

/* do they keep you in a cell */

.p13 span {
	opacity: 0;
	font-family: 'brenner mono regular'
}
.p13.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: 'brenner mono regular'
	
}
.p13.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.50em;
    font-size: 1em;
	
}
.p13.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.50em;
    font-size: 1em;
}
.p13.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.50em;
    font-size: 1em;
}
.p13.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}
.p13.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}

.p13.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.50em;
    font-size: 1em;
	font-family: 'brenner mono regular'
}

/* cells */

.p14 span {
	opacity: 0;
	border: solid black;
	padding: 8px;
	border-radius: 20px;
	color: white;
	font-family: 'brenner mono regular'
}

.p14.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-size: 2em;
	font-weight: 800;
    font-family: 'brenner mono regular'
	
}

/* cells */

.p15 span {
	opacity: 0;
	border: solid black;
	padding: 8px;
	border-radius: 20px;
	color: white;
	font-family: 'brenner mono regular'
}

.p15.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-size: 2em;
	font-weight: 800;
    font-family: 'brenner mono regular'
	
}

.p16 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular'
}

.p17 span {
	opacity: 1;
	font-size: 1em;
	color: white
}

.p18 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p19 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p20 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p21 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p22 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p23 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p24 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p25 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p26 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p27 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
.p29 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p30 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p31 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p32 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p33 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p34 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p35 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p36 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p37 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}

.p38 span {
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: 'brenner mono regular';
}
/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */


.sound1 {
	background: red;
}

iframe {
	transition: 1s;
}
/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 iframe {
	transform: rotateZ(20deg);
}


.sound2 {
	background: black;
	color: white;
}

.sound2 iframe {
	transform: rotateZ(0deg);
}

.sound3 iframe {
	transform: translate(100px);
	border: 3px solid red;
	background-color: blue;
}

.sound4 iframe {
	transform: translate(0px);
	border: none;
	background: none;
}

.sound5 iframe {
	transform: translate(100px);
	transform: scale(1.3);
	border: 3px solid red;
	background-color: blue;
}

.sound6 iframe {
	transform: translate(0px);
	border: none;
}

.sound7 iframe {
	transform: translate(100px);
	transform: scale(1.6);
	transition: 2s;
	border: 3px solid red;
}

.sound8 iframe {
	transform: translate(0px);
	border: none;
}

.sound9 iframe {

	border: 10px solid blue;
	background-color: red;
	transition: 30s;
	transform:scale(.5)

}

.sound10 iframe {

	border: none;
	transition: 10s;
	transform:scale(1)

}


